//-
  about.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the about page.

extends layout

block content
    h1 About Us Page
    p We are the Davidson chapter of D-Code, an inclusivity in tech initiative.
    h2 Contact us at:
    a(href='mailto:dcode.davidson@gmail.edu') dcode.davidson@gmail.edu
