//-
  about.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the about page.

extends layout


block content
  div#about
    div(id="jumbo1").large.jumbotron.jumbotron-fluid
      .container
        h1(id="description").ui.centered.header We are the Davidson chapter of D-Code, an inclusivity in tech initiative.
    div(id="jumbo2").jumbotron.jumbotron-fluid
      .container
        h1(id="Mission").ui.centered.header Our Mission
        h1(id="Statement").ui.centered.header We are committed to improving the relationship between Davidson students, the art of computing, programming, and all-things digital.
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
    div(id="jumbo3").jumbotron.jumbotron-fluid
      .container
        h1#whatyoucando.ui.centered.header Join Us and you can:
        h2#whatyoucando Start learning a language with the assistance and support of your more-experienced peers through interactive challenges

        h2#whatyoucando Work on a project of your choice with a small group, such as a website, application, or game certifications and gain marketable career skills (i.e. Automation, Git, Command Line, Web Scraping)

        h2#whatyoucando Bring your ultra wavy and slick app idea to fruition

        h2#whatyoucando Learn more about how your smartphone and computer “magically” do stuff

        h2#whatyoucando Get to know the Davidson computer science students and faculty

        h2#whatyoucando See if the vast field of technology has something in store for you

        h2#whatyoucando Gain access to a unified platform for learning resources and opportunities for internships and research
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
    div#teamdimmer.jum
      div(id="jumbo4").jumbotron.jumbotron-fluid
        h1(id="Meet").ui.centered.white.header Meet Our Team!!
        .ui.hidden.divider
    div(id="jumbo5").jumbotron.jumbotron-fluid
      .ui.hidden.divider
      .ui.two.column.middle.aligned.padded.grid
        //- Khalil
        .ui.row
          .ui.centered.column
            .ui.centered.block.header#Khalil Khalil Adams
          .ui.centered.column
            .ui.centered.header#nickname AKA "Cocaine Lil"
        .ui.row
          .ui.centered.column
            .ui.large.centered.rounded.image
                img(src='/public/img/khalil.jpg')
          .ui.centered.column
            .ui.centered.header#bio Title: Progenitor & Co-chair
            .ui.centered.header#bio Khalil Adams hails from San Francisco, California. Khalil is a junior Computer Science Major. He came up with the idea for D-CODE with the hope of providing much needed professional development opportunities as well as support to BIPOC. “Besides noticing the lack of accessibility to resources for students like myself, I also noticed both a lack of diversity among students in the program and how that impacted me as well. Speaking with people in the major I was told that BIPOC typically drop the classes and major as a whole due to its stigma and how much help they don’t receive. On top of that trying to enter the professional field I was hit with the truth that our classes aren’t enough to prepare us for the workforce. However, there are resources available if you know where to look.” In his free time Khalil is a huge basketball fan and his favorite player is Lebron “GOAT” James.
        
        //- Abby
        .ui.row
          .ui.centered.column
            .ui.centered.block.header#Khalil Abigail Santiago
          .ui.centered.column
            .ui.centered.header#nickname AKA "Abby"
        .ui.row
          .ui.centered.column
            .ui.large.centered.rounded.image
                img(src='/public/img/abby.jpg')
          .ui.centered.column
            .ui.centered.header#bio Title: Co-chair
            .ui.centered.header#bio Abigail Santiago is of Hispanic descent and currently resides in Miami, FL. Abby is a junior Computer Science major. She started D-CODE because she sensed a severe lack of community in the Computer science department. “The Computer Science major has been a very isolating experience, and I did not feel like there was a community for me in the CS department. I want D-CODE to be a place where we build a strong community through learning about Computer Science and different technology, where our members can hopefully foster a love of CS and also help to make the major a more welcoming and inviting experience.”Outside of CS, she loves fashion, sewing, and skincare.
        
        //- Wilbur
        .ui.row
          .ui.centered.column
            .ui.centered.block.header#Khalil Wilbert Garcia
          .ui.centered.column
            .ui.centered.header#nickname AKA "Wilby"
        .ui.row
          .ui.centered.column
            .ui.large.centered.rounded.image
                img(src='/public/img/wilbert.jpg')
          .ui.centered.column
            .ui.centered.header#bio Title: Project Manager
            .ui.centered.header#bio Wilbert Garcia is of Hispanic descent and hails from the great town of Lawrence, MA. Wilbert is a senior Computer Science and PPE major. He joined D-CODE because he wants to develop an increasingly inclusive and nurturing environment in the computer science department. “I want coding to be accessible to everyone and I want Computer Science at Davidson to be a warm and welcoming environment. I spend most of my free time on YouTube watching music videos. I think the music sounds better when there’s a video with it. Also, Lakers in 4. “
        
        //- Neil
        .ui.row
          .ui.centered.column
            .ui.centered.block.header#Khalil Neil Patel
          .ui.centered.column
            .ui.centered.header#nickname AKA "Neily"
        .ui.row
          .ui.centered.column
            .ui.large.centered.rounded.image
                img(src='/public/img/neil.jpg')
          .ui.centered.column
            .ui.centered.header#bio Title: Co-chair
            .ui.centered.header#bio Neil Patel is a junior Computer Science major from Danville, IL. Neil joined D-CODE because he believes that people underestimate their own potential to learn things outside their comfort zones. “I want to change that sentiment. In my eyes, learning is nothing more than an exploration of my curiosity. The classic recipe for mastery has been to dedicate yourself to a single craft. However, obtaining a breadth of knowledge and experience is equally as valuable for creativity, innovation, and unorthodox thinking. So, go ahead and sign up for that Mongolian throat singing class, you'll thank me later. “ Neil in his free time enjoys Anime, Cooking, Drinking Tea, Singing in the Shower, Skateboarding, Speedcubing, Technology, Reading and Videogames.
        
        //- Jeriel
        .ui.row
          .ui.centered.column
            .ui.centered.block.header#Khalil Jeriel Adarquah-Yiadom
          .ui.centered.column
            .ui.centered.header#nickname AKA "Big Smoove"
        .ui.row
          .ui.centered.column
            .ui.large.centered.rounded.image
                img(src='/public/img/jeriel.jpg')
          .ui.centered.column
            .ui.centered.header#bio Title: Social Media Chair
            .ui.centered.center.aligned.header#bio Jeriel Adarquah-Yiadom is a Ghanaian immigrant who currently resides in Columbus, Ohio. Jeriel is a Computer Science major entering his junior year. He joined D-CODE to help mitigate the lack of BIPOC student retention in the Computer Science discipline. “After years of being one of few Black students in the room, I understand the vital role which representation and community play in fostering a healthy and ideal learning environment. I’m excited to help create that environment for incoming students who’ve had similar experiences. I also love music and I'm known to get busy on the keyz; I intend to drop some bangerz as a sound cloud rapper as soon as I have the facilities.”
        
        //- Ben
        .ui.row
          .ui.centered.column
            .ui.centered.block.header#Khalil Benjamin Santiago
          .ui.centered.column
            .ui.centered.header#nickname AKA "Benny"
        .ui.row
          .ui.centered.column
            .ui.large.centered.rounded.image
                img(src='/public/img/ben.jpg')
          .ui.centered.column
            .ui.centered.header#bio Title: Treasurer
            .ui.centered.center.aligned.header#bio Ben santiago is a second generation Cuban-American from Miami, Florida. Ben is a Computer Science major entering his junior year. He joined D-CODE to create a fun and inclusive environment for students to explore their interests in computer science. “There is a lot more (fun) to computer science than what we might think, and I’d love for people to learn how they can use coding in much more than classroom assignments. I also love birdwatching and long walks on the beach, but never at the same time, and if you ever catch me asleep, wake me up please. “
      
    
      .ui.hidden.divider
    h2.ui.large.centered.header Connect with us!
    
    .ui.one.column.padded.middle.aligned.centered.grid
        //- h2 Send us an Email:
        .ui.row
          a(href='mailto:dcode.davidson@gmail.edu').ui.padded.header 
            i.ui.mail.huge.padded.icon
        
          //- h2 Follow us on Instagram:
          a(href='https://www.instagram.com/tv/CExl6kgA4QU/?utm_source=ig_web_copy_link') 
            i.ui.instagram.huge.padded.icon
        
          //- h2 Follow us on Twitter:
          a(href='https://www.instagram.com/tv/CExl6kgA4QU/?utm_source=ig_web_copy_link') 
            i.ui.twitter.huge.padded.icon
        
          //- h2 Follow us Facebook :
          a(href='https://www.instagram.com/tv/CExl6kgA4QU/?utm_source=ig_web_copy_link') 
            i.ui.facebook.huge.padded.icon
          //- h2 Join us on zoom
          a(href='davidson.zoom.us/j/97748955600?pwd=aHFZY2ZiRDJ2eU1SZkx4K0k5ai9wZz09') 
            i.ui.video.huge.padded.icon
        .ui.row
          .ui.footer Copywright © 2020 D-CODE Davidson