//-
  calendar.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the calendar page.

extends layout

block content
  //- div#calendarblend.large.jumbotron.jumbotron-fluid
  div.ui.middle.aligned.center.aligned.grid
    //- Basic Google Calendar Implementation
    //- Calendar link: https://calendar.google.com/calendar/u/0?cid=Y185cHIxdnIwN3A1YXVpMGpmdXIzcW8zZXM4b0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t
    //- Calendar should be accessible by everyone with a Davidson account
    iframe#calendar(src='https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=Y185cHIxdnIwN3A1YXVpMGpmdXIzcW8zZXM4b0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4&title=D-Code%20Events' style='border:solid 1px #777' width='100%' height='670px' frameborder='0' scrolling='no')
