//-
  createaccount.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 11/11/2020
  License: GPL 3.0

  Contains the html elements for the create account page.
  Also contains javascript for form validation and submission behavior.

extends layout

block content
    style(type='text/css').
        body > .grid {
        height: 100%;
        }
        .image {
        margin-top: -100px;
        }
        .column {
        max-width: 450px;
        }

    div.ui.middle.aligned.center.aligned.grid
        div.column

            // Create account form
            div.ui.large.header Create a New Account:
            div.form.ui.form.segment
                form
                    div.two.fields
                        div.field
                            label First Name
                            input(placeholder='First Name' name='first-name' type='text')
                        div.field
                            label Last Name
                            input(placeholder='Last Name' name='last-name' type='text')
                    div.field
                        label Email
                        input(placeholder='Email' name='create-email' type='text')
                    div.field
                        label Password
                        input(placeholder='Password' type='password' name='create-password')
                    div.field
                        label Confirm Password
                        input(placeholder='Confirm Password' type='password' name='confirm-password')
                    div.ui.blue.submit.button Submit

    // Form validation script (see https://fomantic-ui.com/behaviors/form.html)
    script.
        $('form')
            .form({
                on: 'blur',
                fields: {
                    //rules for each field
                    firstname: {
                        identifier: 'first-name',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a value'
                        }]
                    },
                    lastname: {
                        identifier: 'last-name',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a value'
                        }]
                    },
                    email: {
                        identifier: 'create-email',
                        rules: [
                            {
                            type: 'empty',
                            prompt: 'Please enter a value'
                            },
                            {
                                type   : 'email',
                                prompt : 'Please enter a valid e-mail'
                            }
                        ]
                    },
                    newpassword: {
                        identifier: 'create-password',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a value'
                        }]
                    },
                    confirmpassword: {
                        identifier: 'confirm-password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a value'
                            },
                            {
                                type: 'match[create-password]', //passwords need to match
                                prompt: 'Password must match'
                            }
                        ]
                    }
                }
            })
            //TODO: Fix the submit functionality
            .submit(function(evt) {
                evt.preventDefault();
                alert('submitted');
            });