//-
  donate.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the donate page.

extends layout

block content
    h1 Donate Page
    p Donate to D-Code at Davidson's PayPal: {PayPal info to come}
