//-
  index.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the home page.

extends layout

block content
  div#home
    a(href="/index")#logohome.ui.medium.centered.image
        img(src="/public/img/logo.jpeg")
    .ui.hidden.divider
    .ui.hidden.divider
    .ui.hidden.divider    
    h1(id="hometext").ui.header.centered.line-1.anim-typewriter Welcome to D-CODE, Davidson's Inclusivity in Tech Initiative!      
    .ui.hidden.divider
    .ui.hidden.divider
    img.ui.centered.large.image(src="/public/img/hackers.jpg")
    //- div(id="homejumbo").large.jumbotron.jumbotron-fluid


//-     div.ui.top.attached.tabular.menu
//-       a.item(href="/index") Home
//-       a.item Projects
//-       a.item Friends
//-       a.ui.item Logout
//-       a.item.right.aligned(href="/login") Login
//-     img.ui.centered.medium.image(src="/public/img/logo.jpeg")
//-     .ui.large.header.centered Welcome hackers!


