//-
  index.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the home page.

extends layout

block content
  div#home
    a(href="/index")#logohome.ui.large.centered.image
        img(src="/public/img/logohome.png")    
    h1#hometext.ui.centered.header Welcome to D-CODE, Davidson's Inclusivity in Tech Initiative     
    .ui.hidden.divider

    .ui.hidden.divider



//-     div.ui.top.attached.tabular.menu
//-       a.item(href="/index") Home
//-       a.item Projects
//-       a.item Friends
//-       a.ui.item Logout
//-       a.item.right.aligned(href="/login") Login
//-     img.ui.centered.medium.image(src="/public/img/logo.jpeg")
//-     .ui.large.header.centered Welcome hackers!


