//-
  layout.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements common to every other view. Other views should extend layout.

doctype html
html
  head
    title= title

    // Link to stylesheets
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" crossorigin="anonymous")

    // Fomantic-UI reqs
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    link(rel='stylesheet' type='text/css' href='/semantic/dist/semantic.min.css')
    script(src='/semantic/dist/semantic.min.js')

    // Sitewide style elements
    style(type='text/css').
        body {
          background-color: #000000;
        }
        h1, h2, h3, p, a {
          color: #e1f5bc;
        }
        h1, h2, h3, a {
          font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
        }
        p {
          font-family: Georgia, Times, serif;
        }
        a:hover {
          text-decoration: underline;
        }

  body
    // navigation bar at top of the page
    div.ui.top.attached.tabular.menu
      a.item(href="/")(style='color:#e1f5bc;') Home
      a.item(href="/projects")(style='color:#e1f5bc;') Projects
      a.item(href="/calendar")(style='color:#e1f5bc;') Calendar
      a.item(href="/about")(style='color:#e1f5bc;') About Us
      a.item(href="/donate")(style='color:#e1f5bc;') Donate
      a.item.right.aligned(href="/login")(style='color:#e1f5bc;') Login
    img.ui.centered.medium.image(src="/public/img/logo.jpeg")
    block content
