extends layout

block content
    h1 Log In Page

    // Log in form
    div.form.ui.form.segment
        h3 Existing Users Log In:
        div.field
            label Username
            input(placeholder='Username' name='username' type='text')
        div.field
            label Password
            input(placeholder='Password' type='password' name='password')
        div.ui.primary.submit.button Submit

    // Create account form  
    div.form.ui.form.segment
        h3 Create a new account:
        div.two.fields
            div.field
                label First Name
                input(placeholder='First Name' name='first-name' type='text')
            div.field
                label Last Name
                input(placeholder='Last Name' name='last-name' type='text')
        div.field
            label Username
            input(placeholder='Username' name='username' type='text')
        div.field
            label Password
            input(placeholder='Password' type='password' name='password')
        div.field
            label Confirm Password
            input(placeholder='Confirm Password' type='password' name='password')
        div.ui.primary.submit.button Submit