//-
  login.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/28/2020
  License: GPL 3.0

  Contains the html elements for the login page.
  Also contains javascript for form validation and submission behavior.

extends layout

block content
    div.ui.hidden.divider
    div.ui.hidden.divider
    div.ui.hidden.divider
    div.ui.hidden.divider

    form
        div.ui.middle.aligned.center.aligned.three.column.grid
            div.column.grid
                .row.grid
                    h2.ui.centered.header.grid
                        div.content.grid Sign in here
                div.ui.hidden.divider
                div.row.grid
                    div.ui.form.large.form(action="/users/login", method="post")
                        div.ui.large.centered.segment.grid
                            div.field.grid.row
                                div.ui.left.icon.input.grid
                                    i.user.icon.grid
                                    input(type="text", name="email", placeholder="your email").grid 
                            div.field.grid.row
                                div.ui.left.icon.input.grid
                                    i.lock.icon.grid
                                    input(type="password",name="password",placeholder="password").grid
                            div.field.grid.row
                                button.ui.fluid.large.black.button(type="submit").grid Login 
                        .ui.centered.banner.grid 
                            a.item(href="/register") New to the D-Code family? Sign up here!

    // Form validation script (see https://fomantic-ui.com/behaviors/form.html)
    script.
        $('form')
            .form({
                on: 'blur',
                fields: {
                    //rules for each field
                    username: {
                        identifier: 'email',
                        rules: [
                            {
                            type: 'empty',
                            prompt: 'Please enter a value'
                            },
                            {
                                type   : 'email',
                                prompt : 'Please enter a valid e-mail'
                            }
                        ]
                    },
                    name: {
                        identifier: 'name',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a name'
                        }]
                    },
                    password: {
                        identifier: 'password',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a password'
                        }]
                    }
                }
            });
            //TODO: Fix the submit functionality
            //- .submit(function(evt) {
            //-     evt.preventDefault();
            //-     alert('submitted');
            //- });