extends layout

block content
    h1 Log In Page

    // Log in form
    div.form.ui.form.segment
        form
            h3 Existing Users Log In:
            div.field
                label Username
                input(placeholder='Username' name='login-username' type='text')
            div.field
                label Password
                input(placeholder='Password' type='password' name='login-password')
            div.ui.blue.submit.button(type='submit' name='login-submit') Submit
            div.ui.error.message
            div.ui.success.message

    // Create account form  
    div.form.ui.form.segment
        h3 Create a new account:
        div.two.fields
            div.field
                label First Name
                input(placeholder='First Name' name='first-name' type='text')
            div.field
                label Last Name
                input(placeholder='Last Name' name='last-name' type='text')
        div.field
            label Email
            input(placeholder='Email' name='email' type='text')
        div.field
            label Username
            input(placeholder='Username' name='username' type='text')
        div.field
            label Password
            input(placeholder='Password' type='password' name='create-password')
        div.field
            label Confirm Password
            input(placeholder='Confirm Password' type='password' name='create-password')
        div.ui.blue.submit.button Submit

    script.
        $('form')
            .form({
                on: 'blur',
                fields: {
                    username: {
                        identifier: 'login-username',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a value'
                        }]
                    },
                    password: {
                        identifier: 'login-password',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a password'
                        }]
                    }
                }
            })
            .submit(function(evt) {
                console.log("Form submitted");
                evt.preventDefault();
                alert('submitted');
            });