//-
  projects.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the projects page.

extends layout

block content
  h1(style='text-align:center;') Join a Project:

  div.ui.vertical.stripe.segment
  div.ui.text.container
    h3 Example Project 1
    p
      | This is a detailed description of the project. It also contains information about what sorts of skills are needed for the project.
    button.ui.fluid.large.black.button Join
    h4.ui.horizontal.header.divider
    h3 Example Project 2
    p
      | This is a detailed description of the project. It also contains information about what sorts of skills are needed for the project.
    button.ui.fluid.large.black.button Join
