//-
  projects.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 10/25/2020
  License: GPL 3.0

  Contains the html elements for the projects page.

extends layout

block content
  div#projects
    //- div(id="jumbop1").large.jumbotron.jumbotron-fluid
       
        //- .ui.raised.segment#workingonsegment
          a(href="#jumbop2")#workingon.bottom.aligned.ui.header Come see what we're working on     
            i.ui.dropdown.icon
    
    #jumbop3.large.jumbotron.jumbotron-fluid
    #jumbop4.large.jumbotron.jumbotron-fluid
    #jumbop5.large.jumbotron.jumbotron-fluid
      #currentprojects.ui.centered.header Current Projects
      #projectgrid.ui.three.column.padded.grid
          .ui.middle.aligned.row
            .ui.middle.aligned.column 
              #projecttitles.ui.centered.header Crypto Bot
            .ui.column
            .ui.column
          .ui.middle.aligned.row
            .ui.column
              .ui.large.rounded.image
                img(src="/public/img/crypto.jpeg")
            .ui.ten.wide.column
              #projectdescriptions.ui.top.aligned.header this is a bot that does crypto.this is a bot that does crypto.this is a bot that does crypto.this is a bot that does crypto.this is a bot that does crypto.this is a bot that does crypto.
            .ui.column
          .ui.middle.aligned.row
              button#joinbuttons(type="submit").ui.black.fluid.massive.icon.button
                |Join
              #joinform.ui.raised.message
                form.ui.form(action="", method="post")
                  .field
                    label First Name
                    input(type='text' name='first-name' placeholder='First Name')
                  .field
                    label Last Name
                    input(type='text' name='last-name' placeholder='Last Name')
                  button.ui.button(type='submit') Submit
          
          //- this project
          .ui.middle.aligned.row
            .ui.middle.aligned.column 
              #projecttitles.ui.centered.header Web Scraper
            .ui.column
            .ui.column
          .ui.middle.aligned.row
            .ui.column
              .ui.large.rounded.image
                img(src="/public/img/scraper.jpg")
            .ui.ten.wide.column
              #projectdescriptions.ui.top.aligned.header this is a bot that scrapes the web.this is a bot that scrapes the web.this is a bot that scrapes the web.this is a bot that scrapes the web.
            .ui.column
          .ui.middle.aligned.row
              button#joinbuttons(type="submit").ui.black.fluid.massive.icon.button
                |Join
              #joinform.ui.raised.message
                form.ui.form(action="", method="post")
                  .field
                    label First Name
                    input(type='text' name='first-name' placeholder='First Name')
                  .field
                    label Last Name
                    input(type='text' name='last-name' placeholder='Last Name')
                  button.ui.button(type='submit') Submit
         
          //- this project 
          .ui.middle.aligned.row
            .ui.middle.aligned.column 
              #projecttitles.ui.centered.header Pocket Stylist
            .ui.column
            .ui.column
          .ui.middle.aligned.row
            .ui.column
              .ui.large.rounded.image
                img(src="/public/img/pocketstylist.jpg")
            .ui.ten.wide.column
              #projectdescriptions.ui.top.aligned.header This is a personal pocket stylist.This is a personal pocket stylist.This is a personal pocket stylist.This is a personal pocket stylist.
            .ui.column
          .ui.middle.aligned.row
              button#joinbuttons(type="submit").ui.black.fluid.massive.icon.button
                |Join
              #joinform.ui.raised.message
                form.ui.form(action="", method="post")
                  .field
                    label First Name
                    input(type='text' name='first-name' placeholder='First Name')
                  .field
                    label Last Name
                    input(type='text' name='last-name' placeholder='Last Name')
                  button.ui.button(type='submit') Submit
              
                        




          

 
