//-
  register.pug
  D-Code-Web-App
  Authors: Team 4
  Date: 11/15/2020
  License: GPL 3.0

  Contains the html elements for the register page.
  Also contains javascript for form validation and submission behavior.

extends layout

block content
    div.ui.hidden.divider
    div.ui.hidden.divider
    div.ui.hidden.divider
    div.ui.hidden.divider

    form#registration(action="/users/register", method="post")
        div.ui.middle.aligned.center.aligned.three.column.grid
            div.column.grid

            div.column.grid
                .row.grid
                    h2.ui.centered.header.grid
                        div.content.grid(style='color:#e1f5bc; font-family:Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;') Welcome to to the D-Code family!
                    div.ui.hidden.divider
                    div.ui.hidden.divider
                    h3.content.grid Register Here!
                div.row.grid
                    div.ui.large.centered.segment.grid
                        div.field.grid.row
                            div.ui.left.icon.input.grid
                                i.user.icon.grid
                                input(type="text", name="email", placeholder="your email").grid
                        div.field.grid.row
                            div.ui.left.icon.input.grid
                                i.user.icon.grid
                                input(type="text", name="name", placeholder="your name").grid    
                        div.field.grid.row
                            div.ui.left.icon.input.grid
                                i.lock.icon.grid
                                input(type="text",name="password",placeholder="password").grid
                        div.field.grid.row
                            button.ui.fluid.large.black.button(type="submit").grid Register 
            div.column.grid
    
    // Form validation script (see https://fomantic-ui.com/behaviors/form.html)
    script.
        $('form')
            .form({
                on: 'blur',
                inline: 'true',
                fields: {
                    //rules for each field
                    name: {
                        identifier: 'name',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a name'
                        }]
                    },
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                            type: 'empty',
                            prompt: 'Please enter an email'
                            },
                            {
                                type   : 'email',
                                prompt : 'Please enter a valid e-mail'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter a password'
                        }]
                    }
                }
            })
            //TODO: Fix the submit functionality
            //- .submit(function(evt) {
            //-     evt.preventDefault();
            //-     alert('submitted');
            //- });
