
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 3px 3px black;
}
:root{
  --main-color: black;
  --secondary-color: #fcf9c4;
  --tertiary-color: #e1f5bc;
}

div{
  padding: 0;
}

/* Home page stuff */

/* #home{
  background-color: black;
} */
#home::before{
  content: "";
  background-image: url("/public/img/hackers.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: .8; */
  filter: brightness(70%);
}

#home{
  padding: 20%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  /* filter: brightness(50%); */
  text-align: center;
}


#homejumbo{
  background-color: black;
  margin: 0%;
}

#hometext{
  font-family: 'Imbue',serif;
  font-size: 5vw;
  color: #e1f5bc;
  position: relative;
  padding-top: 2%;
  white-space: nowrap;
}

#themenu {
  background-color:black;
  color:#e1f5bc;
  font-family: 'Imbue',serif;
  font-size: 1.3vw;
  /* margin: 0%; */
  padding: 0%;
}
#test {
  background-color: black;
  color: #e1f5bc;
  font-family: 'Imbue',serif;
  font-size: 1.5vw;
}
#topmenu {
  background-color: black;
  color: #e1f5bc;
  font-family: 'Imbue',serif;
  font-size: 1vw;
  padding: 0%;
}
#logomenu{
  padding-top: 1%;
  /* padding-bottom: 1%; */
  align-self: center;
  font-size: 2vw;

}

#logohome{
  position: absolute;
  /* padding-top: 5%; */
  padding-bottom: 20%;
  
}

/* Blinking effect for welcome message */
/* .blinking{
  animation:blinkingText 2.2s infinite;
}
@keyframes blinkingText{
  0%{     color: var(--tertiary-color);    }
  49%{    color: var(--tertiary-color); }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: var(--tertiary-color);    }
} */


/* About page stuff */
#about{
  background-color:white;
}

#navigationsquares{
  padding: 2%;
  padding-top: 5%;
}

#picturetext{
  position: 'absolute';
}
#longimages:hover{
  background-color: blue;
}
#longimages{
  size: 633.33,355.05;
  position: relative;
  display: flex;
}
#tallimages:hover{
  background-color: blue;
}
#tallimages{
  size: 306.66, 355.05;
}
#headingcontainer {
  padding: 0%;
  margin: 0%;
}
#Meet {
  font-family: 'Imbue', serif;
  color:  #fcf9c4;
  font-size: 800%;
  filter:brightness(100%);
}

#description {
  font-family: 'Imbue', serif;
  font-size: 300%;
}

#jumbo1{
  background-color: #e1f5bc;
  padding: 10vh;
  padding-bottom: 5vh;
  padding-top: 14vh;
}
#jumbo2{
  background-color: white;
}
#jumbo3{
  /* background-image: linear-gradient(white,rgb(123, 169, 253)); */
  background-color:white;
  margin: 0%;
}
#Statement{
  font-family: 'Imbue',serif;
  font-size: 300%;
}

#Mission{
  font-family: 'Imbue', serif;
  font-size: 800%;
}

#whatyoucando{
  font-family: 'Imbue',serif;
  text-align: center;
}

#learnmore{
  font-family: 'Imbue',serif;
  font-size: 40%;
}
/* Special shout out to https://coder-coder.com/background-image-opacity/ */
#jumbo4::before{
  content: "";
  background-image: url("/public/img/E-boardCollage.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: .8; */
  filter: brightness(60%);
}

#jumbo4{
  padding: 20%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  /* filter: brightness(50%); */
}

#jumbo5{
  background-color:  #fcf9c4;
}

a {
  color: #00B7FF;
}
#nickname{
  font-size: 150%;
  color:white;
  font-family: 'Imbue',serif;
}
#Khalil{
  font-size: 1.6vw;
  color:white;
  background-color:  black;
  font-family: 'Imbue',serif;
}
#aboutimages{
  margin-top: 0%;
}

#bio{
  font-size: 1.8vw;
  color:black;
  font-family: 'Imbue',serif;
}



/* calendar page stuff */
#calendar{
  border: none;
  /* padding: 2%; */
  padding-top: 2%;
}
/* #calendarblend{
  background-image: linear-gradient(black,white);
  margin: 0%;
} */



/* Projects page stuff */
#projects{
  background-color:white;
}

#jumbop1::before{
  content: "";
  background-image: url("/public/img/projects.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: .8; */
  filter: brightness(100%);
}

#jumbop1{
  padding: 0%;
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0%;
  text-align: left;
  /* filter: brightness(50%); */
}

#workingon{
  font-family: 'Itim', cursive;
  color: black;
  font-size: 450%;
  filter:brightness(100%);
  opacity: 1;
  text-decoration: blink;

}
#workingon:hover{
  color: white;
  opacity: 1;
  filter: brightness(100%);
  transition: color .7s;
}

#workingonsegment{
  opacity: .5;
  scroll-behavior: smooth;
  transition: background-color .7s;
}

#workingonsegment:hover{
  background: rgba(192, 192, 192, 0.39) ;/* make this whatever you want */
  opacity: 1;
}


#jumbop2{
  font-size: 500%;
  background-color: white;
}
#jumbop3{
  background-image: linear-gradient(white,#fffdd0);
  /* background-image: linear-gradient(to right,white,rgba(154, 154, 224, 0.973)); */
  margin: 0%;
}
#jumbop4{
  background-image: linear-gradient(#fffdd0,#fcf9c4);
  margin: 0%;
}
#jumbop5{
  /* font-size: 500%; */
  background-color: #fcf9c4;
  margin: 0%;
}

#whatisaproject{
  font-family:'Imbue',serif ;
}

#welcomeuser{
  color: #e1f5bc;
}

#currentprojects{
  font-size: 700%;
  font-family: 'Imbue', serif;
}
#projecttitles{
  font-size: 4.6vw;

  font-family: 'Imbue', serif;
}
#projectdescriptions{
  font-family: 'Imbue', serif;
  font-size: 3vw;
}
#joinheaders{
  font-family: 'Imbue', serif;
  font-size: 300%;
}

#projectgrid{
  padding: 5%;
}
#joinform{
  display: none;
}