
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 3px 3px black;
}
:root{
  --main-color: black;
  --secondary-color: rgb(5, 122, 122);
  --tertiary-color: #e1f5bc;
}

div{
  padding: 0;
}

#logo{
  /* padding-top: 5%;
  padding-bottom: 2%; */
}

#logohome{
  padding-top: 5%;
  padding-bottom: 2%;
}
#test{
  background-color: transparent;
  padding: 2%;
}

/* About page stuff */
#about{
  background-color:white;
}
#headingcontainer {
  padding: 0%;
  margin: 0%;
}
#Meet {
  font-family: 'Imbue', serif;
  color:  #fcf9c4;
  font-size: 800%;
  filter:brightness(100%);
}

#hometext{
  font-style: italic;
  color: #e1f5bc;
}

#description {
  font-style: italic;
}

#jumbo1{
  background-color: #e1f5bc;
}
#jumbo2{
  background-color: white;
}
#jumbo3{
  /* background-image: linear-gradient(white,rgb(123, 169, 253)); */
  background-color:white;
  margin: 0%;
}
#Statement{
  font-family: 'Imbue',serif;
}

#Mission{
  font-family: 'Imbue', serif;
  font-size: 800%;
}

#whatyoucando{
  font-family: 'Imbue',serif;
  text-align: center;
}

/* Special shout out to https://coder-coder.com/background-image-opacity/ */
#jumbo4::before{
  content: "";
  background-image: url("/public/img/E-boardCollage.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: .8; */
  filter: brightness(60%);
}

#jumbo4{
  padding: 20%;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  /* filter: brightness(50%); */
}

#jumbo5{
  background-color:  #fcf9c4;
}

#home{
  background-color: black;
}
#homejumbo{
  background-color: black;
  margin: 0%;
}

#themenu {
  background-color:black;
  color:#e1f5bc;
  margin: 0%;
  padding: 0%;
}
#test {
  background-color: black;
  padding: 1%;
  color: #e1f5bc;
  margin: 0%;
}

a {
  color: #00B7FF;
}
#nickname{
  font-size: 150%;
  color:white;
  font-family: 'Imbue',serif;
}
#Khalil{
  font-size: 1.6vw;
  color:white;
  background-color:  black;
  font-family: 'Imbue',serif;
}
#aboutimages{
  margin-top: 0%;
}

#bio{
  font-size: 1.8vw;
  color:black;
  font-family: 'Imbue',serif;
}

/* //Typewriter Effect */

/* Global */
html{
  /* min-height: 100%; */
  overflow: hidden;
}

.line-1{
    /* width: 30em; */
    margin: auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 200%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(50) .5s 1 normal both,
  blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  /* from{width: 0;} */
  to{width: 100vw;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
/* calendar page stuff */
#calendar{
  border: none;
}
/* #calendarblend{
  background-image: linear-gradient(black,white);
  margin: 0%;
} */

/* Projects page stuff */
#projects{
  background-color:white;
}

#jumbop1::before{
  content: "";
  background-image: url("/public/img/projects.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* opacity: .8; */
  filter: brightness(100%);
}

#jumbop1{
  padding: 0%;
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0%;
  text-align: left;
  /* filter: brightness(50%); */
}

#workingon{
  font-family: 'Itim', cursive;
  color: black;
  font-size: 450%;
  filter:brightness(100%);
  opacity: 1;
  text-decoration: blink;

}
#workingon:hover{
  color: white;
  opacity: 1;
  filter: brightness(100%);
  transition: color .7s;
}

#workingonsegment{
  opacity: .5;
  scroll-behavior: smooth;
  transition: background-color .7s;
}

#workingonsegment:hover{
  background: rgba(192, 192, 192, 0.39) ;/* make this whatever you want */
  opacity: 1;
}


#jumbop2{
  font-size: 500%;
  background-color: white;
}
#jumbop3{
  background-image: linear-gradient(white,#fffdd0);
  /* background-image: linear-gradient(to right,white,rgba(154, 154, 224, 0.973)); */
  margin: 0%;
}
#jumbop4{
  background-image: linear-gradient(#fffdd0,#fcf9c4);
  margin: 0%;
}
#jumbop5{
  /* font-size: 500%; */
  background-color: #fcf9c4;
  margin: 0%;
}

#whatisaproject{
  font-family:'Imbue',serif ;
}

#welcomeuser{
  color: #e1f5bc;
}

#currentprojects{
  font-size: 700%;
  font-family: 'Imbue', serif;
}
#projecttitles{
  font-size: 4.6vw;

  font-family: 'Imbue', serif;
}
#projectdescriptions{
  font-family: 'Imbue', serif;
  font-size: 3vw;
}
#joinheaders{
  font-family: 'Imbue', serif;
  font-size: 300%;
}

#projectgrid{
  padding: 5%;
}
#joinform{
  display: none;
}